In [1]:
import pandas as pd 

import numpy as np

import matplotlib.pyplot as plt

In [2]:
base = pd.read_csv('IDM_NM_jun2020_sub.csv')

In [3]:
bd=base.replace(np.NaN,0)

In [4]:
'''bd['Total'] = bd.iloc[:,9:21].sum(axis=1)
'''

"bd['Total'] = bd.iloc[:,9:21].sum(axis=1)\n"

In [11]:
bd.shape

(1346618, 21)

In [5]:
bd.columns = ['ao','clave_ent','entidad','cve_mun', 'municipio', 'bien_afectado', 'tipo_delito', 'subtipo_delito', 'modalidad', 'ene', 'feb', 'mar', 'abr', 'may' ,'jun' ,'jul', 'ago', 'sep', 'oct', 'nov', 'dic']

In [6]:
print(bd.columns)

Index(['ao', 'clave_ent', 'entidad', 'cve_mun', 'municipio', 'bien_afectado',
       'tipo_delito', 'subtipo_delito', 'modalidad', 'ene', 'feb', 'mar',
       'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic'],
      dtype='object')

In [8]:
bd[['jul', 'ago', 'sep', 'oct', 'nov', 'dic']] = bd[['jul', 'ago', 'sep', 'oct', 'nov', 'dic']].apply(pd.to_numeric, downcast='integer')
bd.dtypes

ao                 int64
clave_ent          int64
entidad           object
cve_mun            int64
municipio         object
bien_afectado     object
tipo_delito       object
subtipo_delito    object
modalidad         object
ene                int64
feb                int64
mar                int64
abr                int64
may                int64
jun                int64
jul                int16
ago                int16
sep                int16
oct                int16
nov                int16
dic                int16
dtype: object

In [9]:
df=bd.melt(id_vars=['ao','clave_ent','entidad','cve_mun', 'municipio', 'bien_afectado', 'tipo_delito', 'subtipo_delito', 'modalidad' ], var_name='mes')

In [10]:
df.dtypes

ao                 int64
clave_ent          int64
entidad           object
cve_mun            int64
municipio         object
bien_afectado     object
tipo_delito       object
subtipo_delito    object
modalidad         object
mes               object
value              int64
dtype: object

In [12]:
df.shape

(16159416, 11)

In [14]:
df['mes'].sort_values().unique()

array(['abr', 'ago', 'dic', 'ene', 'feb', 'jul', 'jun', 'mar', 'may',
       'nov', 'oct', 'sep'], dtype=object)

In [ ]:
ao_grouped = df.groupby(by='ao')
del_total = (ao_grouped['total']).sum()

In [ ]:
del_total.plot(figsize=(20,5))
plt.title('Delitos')
plt.xlabel('AÃ±o')
plt.ylabel('Total')
plt.show()

In [ ]:
bd.head()

In [16]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['A', 'B', 'C'])

In [17]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [18]:
for index, row in df.iterrows() :
    print(row['A'], row['B'])

1 2
4 5
7 8